@charset "utf-8";
@import url(fonts/font.css);

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover,
a:active {
  color: #00a3e4;
}

img {
  border: 0;
  vertical-align: middle;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Noto Sans KR', sans-serif, 'Open Sans', sans-serif;
  line-height: 1;
  font-weight: 400;
  font-size: 16px;
  -ms-overflow-style: none;
}


/* common */
.inner {
  position: relative;
  display: block;
  width: 1600px;
  margin: 0 auto;
}

.clearfix::after {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}
.left {
  float:left;
}
.right {
  float:right;
}

/* layout */
.wrap {
  position: relative;
  display: block;
  width:100%;
  height:100%;
}
/* left side-bar */
.l-side-bar {
  position: fixed;
  left:40px;
  top:50%;
  transform: translateY(-41%);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width:30px;
  height:200px;
  z-index: 100;
}
.l-side-bar > a {
  width:22px;
  height:4px;
  background-color: #999;
  display: block;
  transition: transform .5s;
}
.l-side-bar .on {
  background-color: #00a3e4;
  transform: rotate(-45deg);
}
/* right side-bar */
.r-side-bar {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom:0;
  /* transform: translateY(-50%); */
  right:10px;
  z-index: 99;
  color:#fff;
  transition: all .5s;
}
.r-side-bar > p {
  position: relative;
  font-size: 13px;
  white-space: nowrap;
  transform: rotate(90deg);
}
.r-side-bar > p::after {
  content: '';
  position: absolute;
  right:-20px;
  top:50%;
  transform: translateY(-50%);
  display: block;
  width:4px;
  height:4px;
  background-color: #fff;
  border-radius: 50%;
}
.r-side-bar .r-side-ani {
  position: relative;
  width:2px;
  height:90px;
  margin-top:75px;
  background-color: rgba(255,255,255,.5);
}
.r-side-bar .r-side-ani::after {
  content: '';
  position: absolute;
  display: block;
  width:2px;
  height:50px;
  background-color: #fff;
  animation: r-side-ani 1.5s infinite ease-out alternate;
}
@keyframes r-side-ani {
  from {
    top:0;
  }
  to {
    top:45px;
  }
}


/* header */
.header {
  position: fixed;
  left:0;
  top:0;
  width:100%;
  background-color: transparent;
  z-index: 9999;
}
.header-wrap {
  width:inherit;
  height:inherit;
  padding:0 60px;
}
.header-wrap.active {
  background-color: #fff;
  height:auto;
}
.header-wrap .inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
  height:140px;
}
.logo {
}
.logo a {
  display: block;
  width:150px;
  height:48px;
  line-height:48px;
  text-indent: -9999px;
  background: url('../images/logo.svg') no-repeat center;
  background-size: cover;
}
.logo a.active {
  background: url('../images/black-logo.svg') no-repeat center;
}
.gnb {
  width:900px;
  margin:0 auto;
}
.gnb::after {
  content: '';
  display: none;
  position: absolute;
  left:50%;
  transform: translateX(-50%);
  bottom:0;
  width:100vw;
  height:1px;
  background-color: #ddd;
}
.gnb:hover::after {
  display: block;
}
.gnb:hover .depth1 > li > a {
  color:#333;
}
.depth1 {
  display: flex;
  justify-content: space-between;
}
.depth1 > li {
  position: relative;
  display: block;
  width:calc(100% / 4);
  padding:60px 0;
  margin-left:-4px;
  text-align: center;
}
.depth1 > li:first-child {
  margin-left:0;
}
.depth1 > li > a {
  font-size: 22px;
  font-weight: 700;
  color:#fff;
}
.depth1 > li >a.active {
  color:#333;
}
.gnb .depth1 > li:hover > a {
  color:#00a3e4;
}
.depth1 > li:hover .depth2 {
  background-color: #f7f7f7;
}
.depth1 > li:hover .depth2::before {
  width:100%;
}
.depth2 {
  position: absolute;
  left:0;
  top:100%;
  width:100%;
  height:250px;
  margin-top:-3px;
  text-align: center;
  padding:4px 0;
  border-left:1px solid #ddd;
  display: block;
  visibility: hidden;
}
.depth1 > li:last-child .depth2 {
  border-right:1px solid #ddd;
}
.depth2::before {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  content: '';
  width: 0;
  height: 4px;
  background-color: #00a3e4;
  z-index: 10;
  display: block;
  transition: width .3s;
}
.depth2 > li {
  padding:15px 0;
}
.depth2 > li > a {}

.header-utill {
  display: block;
  width:170px;
  padding-right:20px;
}
.lang {
  display: flex;
  width:100%;
}
.lang li {
  display: inline-block;
  vertical-align: middle;
}
.lang li:first-child {
  border-right: 1px solid rgba(255, 255, 255, .4);
}
.lang li a {
  padding:0 15px;
  text-align: center;
  color:#fff;
}
.lang.active li a {
  color:#333;
}
.lang > li.active > a {
  color:#00a3e4;
}
.site-map {
  position: absolute;
  right:10px;
  top:55px;
  display: block;
  width:28px;
  height:24px;
  z-index: 10;
}
.site-map span {
  position: absolute;
  left:0;
  top:50%;
  transform: translateY(-50%);
  display: block;
  width:70%;
  height:4px;
  background-color: #fff;
  transition: all .5s;
}
.site-map.active span {
  background-color: #000;
}
.site-map::before {
  position: absolute;
  left:0;
  top:0;
  width:28px;
  height:4px;
  display: block;
  content: '';
  background-color: #fff;
  transition: all .5s;
}
.site-map::after {
  position: absolute;
  left:0;
  bottom:0;
  width:28px;
  height:4px;
  display: block;
  content: '';
  background-color: #fff;
  transition: all .5s;
}
.site-map.active::before {
  background-color: #000;
}
.site-map.active::after {
  background-color: #000;
}


/* visual */
.visual {}
.sw-visual {}
.swiper-slide {
  height:100vh;
}
.visual-01 {
  background: url('../images/visual_1.jpg') no-repeat center bottom;
  background-size: cover;
}
.visual-02 {
  background: url('../images/visual_2.jpg') no-repeat center;
  background-size: cover;
}
.visual-03 {
  background: url('../images/visual_3.jpg') no-repeat center;
  background-size: cover;
}
.visual-04 {
  background: url('../images/visual_4.jpg') no-repeat center;
  background-size: cover;
}
.visual-05 {
  background: url('../images/visual_5.jpg') no-repeat center;
  background-size: cover;
}
.swiper-slide .inner {
  height:100%;
}
.text-box {
  position: absolute;
  top:35%;
  left:5%;
  display: block;
  color:#fff;
}
.vtb-title {
  font-size: 80px;
  font-weight: 700;
  margin-bottom:38px;
}
.vtb-desc {
  font-size: 18px;
  margin-bottom:60px;
  line-height:1.5;
}
.vtb-more-btn {
  position: relative;
  display: block;
  width:180px;
  height:60px;
  line-height:57px;
  padding:0 20px;
  color:#fff !important;
  border:2px solid #fff;
}
.vtb-more-btn::after {
  content: '';
  display: block;
  position: absolute;
  left:0;
  top:0;
  width:0;
  height:100%;
  background-color: rgba(255, 255, 255, .3);
  transition: width 0.5s;
}
.vtb-more-btn > span {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  right:20px;
  display: block;
  width:22px;
  height:22px;
  background: url('../images/circle-more.svg') no-repeat center;
  background-size: cover;
}
.vtb-more-btn:hover::after {
  width:100%;
}
.sw-visual-control {
  position: absolute;
  display: flex;
  justify-content: space-between;
  left:0;
  bottom:9%;
  width:100%;
  z-index: 10;
}
.left-control {
  position: absolute;
  left:0;
  top:50%;
  transform: translateY(-50%);
  width:190px;
  height:auto;
}
.sw-visual-control button {
  display: inline-block;
  height:100%;
  border:0;
  background-color: transparent;
  cursor: pointer;
}
.sw-visual-control button:first-child img {
  transform: rotate(180deg);
}
.sw-visual-control button img {
  vertical-align: middle;
  width:45px;
  height:16px;
}
.sw-visual-pgf {
  position: absolute;
  width: auto;
  height: 100%;
  color: #fff;
  z-index: 100;
  left: 50%;
  top:50%;
  margin-top:-10px;
  transform: translate(-50%, -50%);
}
.sw-visual-pgf-current {
  font-size: 26px;
  font-weight: 700;
}
.sw-visual-bullet-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* left:50%;
  top:50%;
  transform: translate(-42%, -25%); */
  height:16px;
  border:1px solid #fff;
}
.swiper-pagination-bullet {
  position: relative;
  overflow: hidden;
  width: calc((100% / 5) - 10px);
  height: 4px;
  border-radius: 0;
  background: rgba(255, 255, 255, 0.2);
  opacity: 1;
  margin: 0 10px;
}
.swiper-pagination-bullet::after{
  position: absolute;
  left:0;
  top:0;
  display: none;
  content: '';
  width:100%;
  height:100%;
  background-color: #fff;
}

@keyframes slide-progress {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(0);
  }
}
.swiper-pagination-bullet-active::after {
  display: block;
  animation: slide-progress 3s cubic-bezier(0.3, 0, 0.3, 1) forwards;
}

.control-btn {
  display: block;
  width: 13px;
  height: 17px;
  position: absolute;
  right:0;
  top:50%;
  transform: translateY(-50%);
  z-index: 10;
}
.control-btn span {
  display: block;
  width:100%;
  height:100%;
  cursor: pointer;
  color:#fff;
}


/* info */
.info {
  height:100vh;
  background: url('../images/company-bg.jpg') no-repeat;
  background-size: cover;
}
.info .inner {
  height:100%;
}
.content-wrap {
  position: absolute;
  top:32%;
  left:0;
  width:100%;
  height:400px;
  padding:20px 0;
}
.text-wrap {
  display: block;
}
.cw-desc {
  color: #fff;
  font-weight: 600;
  font-size: 22px;
}
.cw-title {
  color: #fff;
  font-weight: bold;
  font-size: 54px;
  margin-top: 35px;
}
.contents {
  display: block;
  width:100%;
  margin-top:30px;
}
.contents ul { float:right;}
.contents ul li {
  position: relative;
  display: inline-block;
  width:240px;
  height:200px;
  border:1px solid #fff;
  padding: 30px;
  box-sizing: border-box;
  border: 2px solid white;
  margin-left: 30px;
  border-radius: 0px 20px 0px 20px;
  transition: 0.3s;
}
.contents ul li:hover {
  background-color: rgba(0, 163, 228, 0.8);
  border-color:transparent;
}
.contents ul li a {
  display: block;
  width:100%;
  background: url('../images/arrow.svg') no-repeat right center;
  background-size: 30px 16px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
.contents ul li span {
  cursor: pointer;
}
.contents ul li span img {
  width: 54px;
  position: absolute;
  bottom: 30px;
  right: 30px;
}

/* growing */
.growing {
  position: relative;
  width:100%;
  height:100vh;
}
.growing .inner {
  height:100%;
  border-left:1px solid #eee;
  border-right:1px solid #eee;
}
.growing-title {
  position: absolute;
  left:50%;
  top: calc(40% - 140px);
  transform: translateX(-50%);
  color: #000;
  font-weight: 700;
  font-size: 34px;
}
.growing .inner ul {
  display: block;
  width:100%;
  height:100%;
}
.growing .inner ul li {
  position: relative;
  display: inline-block;
  margin-left:-4px;
  width:25%;
  height:100%;
  text-align: center;
  border-right:1px solid #eee;
}
.growing .inner ul li:last-child {
  border-right:0;
}
.g-contents {
  position: absolute;
  top:40%;
  left:50%;
  display: block;
  width:100%;
  transform: translateX(-50%);
  text-align: center;
}
.g-subtitle {
  font-size: 18px;
  font-weight: 600;
  color: #000;
  margin-bottom: 30px;
}
.g-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: #f2f2f2;
  border-radius: 50%;
}
.g-icon img {
  height:31px;
}
.g-value {
  display: block;
  font-size: 52px;
  font-weight: 700;
  color: #222;
  margin-bottom: 10px;
}
.g-value-base {
  position: relative;
  font-weight: 700;
  color: #222;
}
.g-value-base::after {
  position: absolute;
  left:50%;
  bottom:-30px;
  transform: translateX(-50%);
  display: block;
  content: '';
  width: 30px;
  height: 2px;
  background-color: #00a3e4;
}
.g-desc {
  margin-top:60px;
  line-height:1.5;
}
.g-desc b {
  font-weight: 600;
  margin-right: 20px;
}

/* news */
.news {
  height:100vh;
  background: url('../images/new-bg.jpg') no-repeat ;
  background-size: cover;
}
.news .inner {
  height:100%;
}
.news .content-wrap {
  position: relative;
  height:400px;
  padding:30px 0 50px;
}
.news .text-wrap {
  width:300px;
  float:left;
}
.news .cw-desc {
  margin-bottom:40px;
}
.news .cw-title {
  margin-bottom:110px;
}
.news-more {
  display: block;
  width:180px;
  height:60px;
  line-height:57px;
  color:#fff;
  border:2px solid #fff;
  border-radius: 0 20px 0 20px;
  padding:0 20px;
  background: url('../images/circle-more.svg') no-repeat right center;
  background-size: 22px;
  background-position: 140px 50%;
}
.news-more:hover {
  color:#fff;
}
.news .contents {
  margin:0;
  float:right;
  width:calc(100% - 350px);
}
.sw-news {
  height:inherit;
}
.sw-news .swiper-slide {
  width:400px;
  height:320px;
  background-color: #fff;
  border-radius: 0 20px 0 20px;
  padding: 50px 40px;
}
.news-cate {
  display: block;
  color: #666;
  font-size: 18px;
  text-decoration: underline;
}
.news-title {
  display: block;
  font-weight: 700;
  font-size: 26px;
  color: #000;
  margin-top: 25px;
  line-height: 1.3em;
}
.news-date {
  display: block;
  color: #999;
  margin-top: 80px;
}
.sw-news-control {
  position: absolute;
  right:0;
  bottom:0;
  display: flex;
  align-items: center;
  width:180px;
  z-index: 10;
}
.sw-news-control button {
  display: inline-block;
  height:100%;
  border:0;
  background-color: transparent;
  cursor: pointer;
}
.sw-news-control button img {
  width:45px;
  height:16px;
  vertical-align: bottom;
  opacity: .35;
}
.sw-news-control button:first-child img {
  transform: rotate(180deg);
}
.news-fraction {
  color:#fff;
  text-align: center;
}
.news-fraction .swiper-pagination-current{
  font-size: 26px;
  font-weight: 700;
}

/* community */
.community {
  position: relative;
  width:100%;
  height:200px;
}
.community ul {
  display: flex;
  align-items: center;
  justify-content:flex-start;
  width:100%;
  height:inherit
}
.community ul li {
  width:calc(100% / 3);
  height:inherit
}
.community ul li:nth-child(1) {
  background: url('../images/banner-1.jpg') no-repeat center;
  background-size: cover;
  background-position: right;
  margin-left:0;
}
.community ul li:nth-child(2) {
  background: url('../images/banner-2.jpg') no-repeat center;
  background-size: cover;
  background-position: right;
}
.community ul li:nth-child(3) {
  background: url('../images/banner-3.jpg') no-repeat center;
  background-size: cover;
  background-position: right;
}
.community ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  color:#fff;
  font-size: 24px;
  font-weight: 700;
  width:100%;
  height:100%;
  transition: all .5s;
}
.community ul li a span {
  display: block;
  margin-left:20px;
  width:26px;
  height:26px;
  background: url('../images/circle-more.svg') no-repeat center;
  background-size: cover;
  transition: all .5s;
}
.community ul li:hover a {
  background-color: rgba(0, 0, 0, 0.3);
}
.community ul li:hover a span {
  transform: translateX(10px);
}

/* footer */
.footer {
  position: relative;
  width:100%;
  height:100%;
  padding-bottom:70px;
}
.f-site-map {
  position: relative;
  display: block;
  padding:70px 0 100px;
}
.f-depth1 {
  display: flex;
  width:1200px;
  justify-content: space-between;

}

.f-depth1 > li > a {
  display: block;
  color: #000;
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 30px;
}
.f-depth2 > li > a {
  color: #666;
  font-size: 17px;
  line-height: 2;
}
.f-depth2 > li > a:hover {
  color:#00a3e4;
}

.f-link-list {
  display: block;
}
.f-link-list ul {
  width:520px;
  padding-bottom:30px;
  display: flex;
  justify-content: space-between;
}
.f-link-list ul li {
  display: inline-block;
  border-left: 1px solid #ddd;
}
.f-link-list ul li:first-child{
  border-left:0;
}
.f-link-list ul li a {
  padding-left:20px;
}
.f-link-list ul li:first-child a {
  font-weight: 600;
  padding-left:0;
}
.fb-area {
  position: relative;
  width:100%;
  padding-top:30px;
  border-top: 1px solid #ddd;
}
.f-logo {
  display: block;
  background: url('../images/footer-logo.svg') no-repeat center;
  background-size: cover;
  width:163px;
  height:52px;
  text-indent: -9999px;
}
.fb-area-txt {
  margin-left:40px;
}
.fb-area-txt address {
  color:#333;
  margin-bottom: 15px;
}
.copyright {
  color:#666;
  margin-bottom: 5px;
}
.browser {
  color:#666;
}
.related-site {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:210px;
  height: 50px;
  padding:0 20px;
  border:1px solid #ccc;
  cursor: pointer;
}
.related-site > span {
  display: inline-block;
  width:7px;
  height:12px;
  background: url('../images/more.svg') no-repeat center;
  background-size: cover;
  transform: rotate(90deg);
}
.related-site .related-list {
  position: absolute;
  left: -1px;
  top:-100px;
  display: none;
}
.related-item {
  display: block;
  width:210px;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  border: 1px solid #ccc;
  background-color: #fff;
}
.related-list .related-item:first-child {
  border-bottom:0;
}

@media all and (max-width: 1800px){
  .l-side-bar {
    display: none;
  }
}
@media all and (max-width: 1700px){
  .sw-visual-bullet-box {
    width:50%;
    right:0;
    justify-content: flex-end;
  }
}